.flag{
    height: 600px;
    width: 900px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin-top: 10px;
}
#saffron{
    background-color: orangered;
    height: 200px;
    width: 900px;
}

#white{
    background-color: white;
    height: 200px;
    width: 900px;
    position: relative;
}

#green{
    background-color: rgb(0, 103, 0);
    height: 200px;
    width: 900px;
}

#chakra{
    background-color: rgb(12, 12, 125);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top:10px;
    left: 360px;
}

#white-circle{
    background-color: white;
    height: 165px;
    width: 165px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
}
.line{
    background-color: rgb(12, 12, 125);
    height: 6px;
    width: 168px;
    position: absolute;
    top: 82px;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(orangered, white, rgb(0, 103, 0));
}
p{
    font-size: 2rem;
    text-align: center;
    color: antiquewhite;
    margin-top: 13px;
    padding-top: 10.5px;

}
